/* font*/
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* font-family: "Fira Sans", serif; */

* {
  background-color: rgb(245, 245, 245);
  margin: 0 auto;
}

/* Header Section */
.navbar {
  display: flex;
  align-items: center;
  padding: 24px 120px 24px 100px;
  width: 1600px;
  height: 100px;
  gap: 580px;
}
.logoname {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: left;
  padding: 24px 160px 24px 160px;
  gap: 10;
  margin: 0px 10px;
}

.navbtncontent {
  gap: 48;
  padding: 15px 30px 15px 30px;
  margin: 0px 48px;
  color: rgb(0, 106, 80);
  font-family: Fira Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  box-sizing: border-box;
  border: 1px solid rgb(0, 106, 80);
  border-radius: 8px;
}

.banner-container {
  width: 1280px;
  height: 560px;
  border-radius: 24px;
  background: rgb(198, 228, 214);
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-container-all {
  background: rgb(198, 228, 214);
}
.banner-container-all h4 {
  color: rgba(14, 14, 14, 0.5);
  font-family: Fira Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
  background-color: transparent;
  gap: 16;
  padding: 0px;
  margin: 16px 0px;
}
.banner-container-all h1 {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 56px;
  font-weight: 700;
  line-height: 67px;
  letter-spacing: 0%;
  text-align: left;
  margin: 16px 0px;
  gap: 16;
  padding: 0px;
  background-color: transparent;
}

.banner-container-all button {
  color: rgb(255, 255, 255);
  font-family: Fira Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  gap: 48;
  padding: 17px 34px 17px 34px;
  border-radius: 8px;

  background: rgb(0, 106, 80);
  gap: 48;
  padding: 17px 34px 17px 34px;
  border: none;
}
.imgbanner {
  background-color: transparent;
  width: 474.03px;
  height: 400px;
  margin: 0px 25px;
}
/* Main Section */
/* Pillars of "Bangladesh 2.0" */
.pillars-contents {
  width: 1280px;
  height: 324px;
  text-align: left;
  padding: 80px 160px;
}
.pillarbox {
  width: 1280px;
  height: 244px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  padding: 0px;
  margin: 24px 0px;
}
.box {
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  width: 302px;
  height: 244px;
  padding: 24px;
  margin: 0 12px;
}

 
.pillars-contents h1 {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: left;
  width: 1280px;
  height: 48px;
  gap: 32;
  padding: 0px;
  margin: 32px 0px;
}
.pillarbox img {
  width: 49.66px;
  height: 53.09px;
  left: 13.34px;
  top: 1px;
  background-color: transparent;
}
.pillarbox h6 {
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  width: 254px;
  height: 24px;
  gap: 12;
  padding: 0px;
  margin: 12px 0px;
  background-color: transparent;
}
.pillarbox p {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  width: 254px;
  height: 72px;
  gap: 12;
  padding: 0px;
  margin: 12px 0px;
  background-color: transparent;
}

/* section vision */
.vision-contents {
  width: 1280px;
  height: 120px;
  gap: 24;
  padding: 0px;
  margin: 32px auto;
}
.vision-contents h1 {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: left;
  width: 1280px;
  height: 48px;
  gap: 24;
  padding: 0px;
  margin: 24px 0px;
}
.vision-contents p {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  width: 1280px;
  height: 48px;
  gap: 12;
  padding: 0px;
  margin: 12px 0px;
}
.vbox {
  width: 410.67px;
  height: 325px;
  padding: 32px;
  margin: 0px 12px;
  box-sizing: border-box;
  border-radius: 16px;
}
.vision-box {
  width: 1280px;
  height: 325px;
  gap: 24;
  padding: 0px;
  margin: 32px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.vboxhoover:hover{
  background-color: #4edef1;
}
.vision-box img {
  background: rgb(129, 180, 252);
  background: transparent;
  width: 49.66px;
  height: 53.09px;
  left: 13.34px;
  top: 1px;
}
.vision-box h6 {
  background: transparent;
  width: 346.67px;
  height: 24px;
  gap: 12;
  padding: 0px;
  margin: 12px 0px;
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}
.vision-box p {
  background: transparent;
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  width: 346.67px;
  height: 72px;
  gap: 12;
  padding: 0px;
  margin: 12px 0px;
}
.Modern button {
  border-radius: 8px;
  background: rgb(255, 194, 57);
  width: 122px;
  height: 41px;
  gap: 48;
  padding: 11px 20px 11px 20px;
  margin: 24px 0px;
  border: none;
}
.Green button {
  border-radius: 8px;
  background: rgb(9, 161, 92);
  width: 122px;
  height: 41px;
  gap: 48;
  padding: 11px 20px 11px 20px;
  margin: 24px 0px;
  border: none;
}
.digital button {
  border-radius: 8px;
  background: rgb(84, 144, 245);
  width: 122px;
  height: 41px;
  gap: 48;
  padding: 11px 20px 11px 20px;
  margin: 24px 0px;
  border: none;
}
.vboxbtn {
  color: rgb(255, 255, 255);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  width: 82px;
  height: 19px;
  gap: 48;
  padding: 11px 20px 11px 20px;
  margin: 0px 48px;
}

.digital {
  background: rgba(84, 144, 245, 0.2);
}
.Green {
  background: rgb(198, 228, 214);
}
.Modern {
  background: rgb(247, 235, 207);
}

.quotes-content {
  width: 1280px;
  height: 256px;

  align-items: center;
  margin-top: 380px;
  margin-bottom: 80px;

  gap: 24;
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;

  background: rgb(255, 255, 255);
  background-image: url(../assets/quote-bg.png);
  background-repeat: no-repeat;
  background-position: left top;
  padding: 48px 24px 48px 24px;
}

blockquote {
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  width: 1232px;
  height: 96px;
  gap: 12;
  padding: 0px;
  margin: 12px 0px;
  background: transparent;
}
.quotes-content h6 {
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  width: 1232px;
  height: 24px;
  gap: 4;
  padding: 0px;
  margin: 4px 0px;
  background: transparent;
}
.quotes-content p {
  color: rgba(14, 14, 14, 0.6);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  width: 1232px;
  height: 24px;
  gap: 4;
  padding: 0px;
  margin: 4px 0px;
  background: transparent;
}
/* Your Opinion Matters */
.Opinion h1 {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: left;
  width: 1280px;
  height: 48px;
  gap: 24;
  padding: 0px;
  margin: 24px auto;
}

.Opinion-table {
  border-radius: 16px;

  background: rgb(255, 255, 255);
  width: 1280px;
  height: 409px;
}

table {
  border: 1px solid rgba(14, 14, 14, 0.15);
  background: transparent;
  width: 1280px;
  height: 409px;
  gap: 24;
  padding: 32px;
  margin: 24px 0px;
  border-radius: 16px;

  background: rgb(255, 255, 255);
  text-align: center;
  border-collapse: collapse;
}
left {
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  gap: 24;
  padding: 24px;
  margin: 0px -1px;
  background-color: white;
}
.right {
  box-sizing: border-box;
  border: 1px solid #0e0e0e26;
  background-color: white;
  width: 200px;
  height: 92px;
  gap: 24;
  padding: 24px;
  margin: 0px -1px;
}
.believe {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  margin: 0px 12px;
  align-items: center;
  gap: 12;
  padding: 24px;
  width: 622px;
  height: 19px;
  background-color: white;
  border: 1px solid rgba(14, 14, 14, 0.15);
}
.table-head {
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  background: rgb(198, 228, 214);
  width: 1216px;
  height: 72px;
}
.headtr {
  border: none;
}
.Questions {
  border-right: none;
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  padding: 24px;
}
.YourOpinion {
  border-left: none;
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  padding: 24px;
}

.Agree {
  box-sizing: border-box;
  border: 1px solid rgb(14, 14, 14);
  border-radius: 4px;

  background: rgba(9, 161, 92, 0.15);
  width: 152px;
  height: 44px;
  gap: 12;
  padding: 10px 14px 10px 14px;
}
.Agree {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
}

/* Recent Section */
.recentnews h1 {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: left;
  width: 1280px;
  height: 48px;
  gap: 24;
  padding: 0px;
  margin: 80px auto 24px;
}
.recentnewsp {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  width: 1280px;
  height: 48px;
  gap: 12;
  padding: 0px;
  margin: 24px auto 32px;
}
.recentnews-content {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24px;

  background: rgb(255, 255, 255);
  width: 1280px;
  height: 402px;
  margin-bottom: 24px;
}
.recentnews-content-dp {
  border-radius: 24px;

  background: url(image);
  width: 408px;
height: 306px;
margin: 0px 32px;
}
.recentnews-content-tittle{
  width: 744px;
  height: 290px;
  gap: 32;
  padding: 0px;
  margin: 56px 48px 56px 32px;
  background-color: white;    
}

.recentnews-content-tittle h2{
  color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 32px;
font-weight: 700;
line-height: 38px;
letter-spacing: 0%;
text-align: left;
width: 744px;
height: 38px;
gap: 12;
padding: 0px;
margin-top: 56px auto;
background: transparent;
}
.recentnews-content-tittle img{
  width: 134px;
height: 40px;
margin: 12px 0px;
background: transparent;

}

.datetime{
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
background: transparent;
gap: 12;
padding: 0px;

}
.recentnews-content-tittle p{
  color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
gap: 12;
padding: 0px;
margin: 12px 0px;
background: transparent;

}
.recentnews-content-tittle button{
  border-radius: 8px;

background: rgb(0, 106, 80);

gap: 48;
padding: 13px 26px 13px 26px;
margin: 0px 48px;
color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
border: none;
margin: auto;
margin-top: 8px;}


/* donate section */
.donatecontenth{
  color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: center;
width: 1280px;
height: 48px;
gap: 24;
padding: 0px;
margin-top: 80px;
}
.donatecontentp{
  color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
width: 1104px;
height: 48px;
gap: 24;
padding: 0px;
margin: 24px auto;

}
.commonminic{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}
.commonmini{
  box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;

background: rgb(255, 255, 255);
width: 240px;
height: 128px;
gap: 24;
padding: 40px;
margin: 0px 24px;

}
.commonminip{
  width: 184px;
height: 48px;
color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: left;
background: transparent;
gap: 24;

}
.Greencolor{
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  
  background: rgb(198, 228, 214);
  width: 240px;
  height: 128px;
  gap: 24;
  padding: 40px;
  margin: 0px 24px;
}
.inputt{
  box-sizing: border-box;
border-bottom: 1px solid rgba(14, 14, 14, 0.15);
background: rgb(255, 255, 255);
width: 1032px;
height: 64px;
gap: 24;
padding: 20px 40px ;
margin: 32px auto;

}
input{
  
  color: rgba(14, 14, 14, 0.3);
font-family: Fira Sans;
font-size: 20px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
width: 952px;
height: 24px;
gap: 12;
border: none;  
background: transparent;
}
::placeholder{
text-align: center;
border: none;  
outline: none;
}
.donatebtn{
  box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.1);
border-radius: 8px;

background: rgb(0, 106, 80);
width: 151px;
height: 56px;
justify-content: center;
align-items: center;
gap: 48;
padding: 17px 34px 17px 34px;
margin: 32px auto;
}
.donatebtnt{
  color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
width: 90px;
height: 22px;
gap: 48;
padding: 0;
border: none;
background: transparent
}
/* newsletter section */

.formc{
  border-radius: 24px;
  width: 1280px;
  height: 395px;
  justify-content: center;
  align-items: center;
margin-top: 80px;    
background: rgb(198, 228, 214);
padding: padding: 80px 100px 80px 100px;
;
text-align:center;
}

.formc h1{
  color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: center;
width: 622px;
height: 48px;
align-items: center;
gap: 16;
padding-top:  80px;
background: transparent;
}

.formc p{
  width: 622px;
height: 48px;
align-items: center;
gap: 16;
color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
background: transparent;
margin: 25px auto;
}
.formbox{
  width: 750px;
height: 55px;

justify-content: center;
display: flex;
background: transparent;
border-radius: 8px 0px 0px 8px;

background: rgb(255, 255, 255);
}

.ebox{
  border-radius: 8px 0px 0px 8px;

background: rgb(255, 255, 255);
width: 750px;
height: 55px;

}
.ebox::placeholder{
text-align: center;
width: 300px;
height: auto;

}
.bbox{
  width: 150px;
height: 55px;
  border-radius: 0px 8px 8px 0px;

background: rgb(0, 106, 80);

color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
border: none;
gap: 48;
padding: 17px 34px 17px 34px;

}


/* footer */

.footerc{
  background: rgb(255, 255, 255);
  width: 1600px;
  height: 226px;
  gap: 32;
  padding: 50px 160px 50px 160px;
  margin-top:  80px;
    
}
.footerc h3{
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: left;
  width: 222px;
height: 38px;
align-items: left;
gap: 16;
margin-top: 50px ;
background: transparent;

}
.footerc hr{
  border: 1px solid rgba(14, 14, 14, 0.1);
  width: 1122px;
height: 0;
margin: 32px auto;

}

.footeri{
  width: 120.55px;
height: 24px;
gap: 23px;
margin-top: 32px;
display: flex;
justify-content: center;
background: transparent;
margin-bottom: 50px;
}
.imgf{
padding: 10px;
gap: 50px;
background: transparent;
width: 24px;
height: 24px;


}
/* button hoover */

button:hover {background-color: #3e8e41}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.donatehoover:hover{
  background-color: rgb(63, 191, 230);
}

.hoover:hover{
  background-color: rgba(80, 221, 76, 0.644);

}